<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{#insert title}Title{/insert}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {#bundle /}
</head>
<body>
<nav>
    <ul class="navbar-content">
        <li><a class="navbar-item" href="/">Home</a></li>
        <li><a class="navbar-item" href="{uri:Entries.notes()}">Notes</a></li>
    </ul>
</nav>
{#insert}{/insert}
<footer class="footer">
    <div class="footer-content">
        <p>Copyright &copy; 2026 Jomar Milan.</p>
        {#if inject:user.isAnonymous}
            <a href="{uri:Security.login()}">Log in</a>
        {#else}
            {#form uri:Security.logout()}
                <span>Logged in as {inject:user.actor.name}</span>
                <button type="submit">Log out</button>
            {/form}
        {/if}
    </div>
</footer>
</body>
</html>