<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{#insert title}Title{/}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {#bundle /}
</head>
<body>
<nav>
    <ul class="navbar-content">
        <li><a class="navbar-item" href="/">Home</a></li>
        <li><a class="navbar-item" href="{uri:Entries.notes()}">Notes</a></li>
    </ul>
</nav>
{#insert}{/}
<footer class="footer">
    <div class="footer-content">
        <p>Copyright &copy; 2026 Jomar Milan</p>
    </div>
</footer>
</body>
</html>