body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: #fff;
    background-image: url("./bg.gif");
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

a {
    color: #9e9eff;

    &:active {
        color: #ff9e9e;
    }
}

.layout {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    column-gap: 5px;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 1em;
}

.layout-section {
    background-color: #0d141c99;
    padding: 1em;
    text-align: center;

    &.center {
        width: 50%;
    }

    &.left, &.right {
        width: 25%;
    }
}

@media screen and (max-width: 868px) {
    .layout {
        flex-direction: column;
        row-gap: 5px;
    }

    .l-section {
        &.center, &.left, &.right {
            width: 100%;
        }
    }
}

.content {
    background-color: #0d141c99;
    padding: 1em;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 1em;
    text-align: center;
}